{% load staticfiles %}
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Graduation Plan Optimizer</title>

		<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">


<script>




$(document).ready(function(){
  // Add scrollspy to <body>
  $('body').scrollspy({target: ".navbar", offset: 60});

  // Add smooth scrolling on all links inside the navbar
  $("#myNavbar a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }  // End if
  });
});

//Slide in code

$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 700) {
      $(this).addClass("slide");
    }
  });
});





</script>










</script>

<link rel="stylesheet" href= "{% static 'css/base.css' %}">





	</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">






	<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home Page</a></li>
		<li><a href="/choosemajor">Select Major</a></li>
		<li><a href="/roadmap" id="Plan">Plan</a></li>






      </ul>
    </div>
  </div>
</nav>
















        <section id="Home">
		<div class="container-fluid" id="Home">
		<div class="row"><br><br>

		 <div class="col-md-12" id="Title-div">
		 <div id="center">
		 <div id="titles">
		  <h1 class="center-text" >Graduation Plan Optimizer</h1>
		  </div>
		  <div id="titles">
	   <h2 class="center-text" >Start Planning your Classes for this Semester!</h2>
	   </div>
	   <hr>
	   <div id="center-button">
{#        wrapped them in hyper links#}

	   <a href="/login"><button type="button" class="btn btn-danger " data-toggle="modal">Login</button></a>
        <a href="/accounts/register"><button type="button" class="btn btn-primary " id="SignUp">SignUp</button></a> </div>

		</div>
		</div>
		</div>
		</div>
	</section>

	<!-- Modal Sections for the Login -->

	<div class="modal fade" id="loginModal" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">

	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>

	<h4 class="modal-title">GradPlan Login</h4>

	</div>
	<div class="modal-body">
	<div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-6">
            <form id="login-form" method="post"
                  action="{% url 'login' %}">



                        <label for="id_username">Username</label>
                        <input id="id_username" name="username"
                                   type="text" class="form-control">

                        <label for="id_password">Password</label>
                        <input id="id_password" name="password"
                                   type="password" class="form-control">


                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>

                 <br>

                <input type="submit" value="Login"
                       class="btn btn-danger pull-right " />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
	</div>
	<div class="modal-footer">

	</div>
	</div>
	</div>
	</div>

























    </body>
    </html>