beautifulsoup4==4.5.3
cassandra-driver==3.7.1
Django==1.10.6
django-cassandra-engine==1.0.2
django-crispy-forms==1.6.1
django-cuser==2017.3.16
django-registration==2.2
futures==3.0.5
httplib2==0.10.3
lxml==3.7.3
mongoengine==0.11.0
oauthlib==2.0.1
psycopg2==2.7.1
PyJWT==1.4.2
pymongo==3.4.0
python-openid==2.2.5
python-social-auth==0.3.6
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-core==1.2.0
userprofile==0.2.5
