{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile Form</title>


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

  <link rel="stylesheet" href= "{% static 'css/base.css' %}">
    <!-- Google Font-->


    <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron csunStyle">

        <h1>Profile Form</h1>


    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-offset-md-6">

            <h1>{{ request.user.username }}'s Profile</h1>
            <div class="container">
                <div class="row">
                    <h3>Current Classes Taken</h3>
                    <a href="{% url 'edit_classes' %}"><h3>Click to Remove Classes</h3></a>
                    <table>
                        {% for taken in classes_taken %}
                            <tr>
                                <td>
                                    {{ taken }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                <h3><a href="{% url 'current_semester' %}">View your Current Semester Classes</a> </h3>
                    <form action="{% url 'user_profile' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save Changes" class="btn-save" id="save">
                    </form>
                    <h3>{{ result }}</h3>
                </div>
                <p>Go Back <a href="{% url 'index' %}">Home</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            </div>

        </div>
    </div>