{% load static %}
<!DOCTYPE html>
    <html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no"> 
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        <title>ChooseMajor</title> 

		
		
			<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href= "{% static 'css/base.css' %}">

<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
     </head>
	<body> 

	 <div id="chooseMajor">

	 <h1 class="text-center">Choose Major</h1>
         <h1 class="text-center">Pick from any of the following</h1>
     </div>

	 

	 <div class="container">
         <div class="row">
             <div class="col-md-4 col-md-offset-4 >
        <form action="{% url 'choose_a_major' %}" method="post">
            {{ form.as_p }}
            <input type="submit" value="Select" class="btn-default">
        </form>
          <h4><a href="{% url 'suggest_major' %}" >Not sure? Click here to have a Major Suggested</a></h4>
          <h4><a href="{% url 'view_major_job_salaries' %}">Or Click to see different Major's Jobs/Salaries</a> </h4>
      </div>
         <ul id="custom">
        <li id="custom"><a href="{% url 'index' %}">Home</a></li>
        <li id="custom"><a href="{% url 'logout' %}">Logout</a></li>
         <li id="custom"><a href="{% url 'login' %}">Login</a></li>
         </ul>
     </div>
     </div>
    </div>

     </div>
  </body>
</html>