{% block roadmap %}
<div class="road-map-div">
    <ul>
        {% for item in test_list %}
            <div class="semester">
{#            <li>Semester {{ item.semester }}</li>#}
            <div class="classes-list">
                <ul>Classes
                    {% for c in item.classes %}
                        <li><p>Name: {{ c.name }}, Class ID{{ c.course_id }}, start time: {{ c.start_time }}
                        end time {{ c.end_time }}, location {{ c.location }}</p></li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <li>Sorry, you do not have a road map. Go create one!</li>
        {% endfor %}
        </div>
    </ul>
</div>
{% endblock roadmap %}