{% block roadmap %}
<div class="road-map-div">
    <ul>
        {% for item in test_list %}
            <div class="semester">
            <li>Semester {{ item.semester }}</li>
            <div class="classes-list">
                <ul>Classes
                    {% for class in item.classes %}
                        <li>{{ class }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <li>Sorry, you do not have a road map. Go create one!</li>
        {% endfor %}
        </div>
    </ul>
</div>
{% endblock roadmap %}