<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="{% url 'view_major_job_salaries' %}" method="post">
            {{ form.as_p }}
            <input type="submit" value="View Salaries" class="btn-save">
        </form>
    </div>
    <h4><a href="{% url 'choose_a_major' %}">Choose a Major Road Map</a></h4>
    {% if major == 1 %}
        {#        Computer Science#}
        {#        job salaries#}

        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Salary by Job - Degree:
                Bachelors Degree Computer Science (CS) (United States)</p><br/><img
                src="http://www.payscale.com/research/US/Degree=Bachelor%2527s_Degree%252c_Computer_Science_(CS)/Salary/by_Job/300s.png"
                alt="Median Salary by Job" border="0" style="margin-top:10px;"/>
        </div>
        {#        hourly#}
        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Hourly Rate by Job -
                Degree: Bachelor of Science Computer Science (CS) (United States)</p><br/><a
                href="http://www.payscale.com/research/US/Degree=Bachelor_of_Science_(BS_%252f_BSc)%252c_Computer_Science_(CS)/Hourly_Rate#by_Job"
                rel="nofollow"><img
                src="http://www.payscale.com/research/US/Degree=Bachelor_of_Science_(BS_%252f_BSc)%252c_Computer_Science_(CS)/Hourly_Rate/by_Job/300s.png"
                alt="Median Hourly Rate by Job" border="0" style="margin-top:10px;"/></a><a
                href="http://www.payscale.com" rel="nofollow" border="0">
        </div>
    {% elif major == 2 %}
        {#electrical engineering#}
        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Salary by Job - Degree:
                Bachelor of Science Electrical Engineering (BSEE) (United States)</p><br/>
            <img src="http://www.payscale.com/research/US/Degree=Bachelor_of_Science%252c_Electrical_Engineering_(BSEE)/Salary/by_Job/300s.png"
                    alt="Median Salary by Job" border="0" style="margin-top:10px;"/>
        </div>
        {#        hourly#}
        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Hourly Rate by Job -
                Degree:
                Bachelor of Science Electrical Engineering (BSEE) (United States)</p><br/>
            <img
                    src="http://www.payscale.com/research/US/Degree=Bachelor_of_Science%252c_Electrical_Engineering_(BSEE)/Hourly_Rate/by_Job/300s.png"
                    alt="Median Hourly Rate by Job" border="0" style="margin-top:10px;"/>
        </div>

    {% elif major == 3 %}
        {#        math#}
        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Salary by Job - Degree:
                Bachelor of Science (BS) Mathematics (United States)</p><br/>
            <img
                    src="http://www.payscale.com/research/US/Degree=Bachelor_of_Science_(BS_%252f_BSc)%252c_Mathematics/Salary/by_Job/300s.png"
                    alt="Median Salary by Job" border="0" style="margin-top:10px;"/>
        </div>
        {#        hourly#}
        <div style="background:white;color:#333;font:normal 11pt Verdana,Arial,sans-serif;text-align:center;border:1px solid #96b9d7;padding:5px;width:300px;">
            <p style="color:#06C;text-decoration: none;font-weight:bold;">Median Hourly Rate by Years
                Experience - Degree: Bachelor of Science (BS %2f BSc)%2c Mathematics (United States)</p><br/>
            <img
                    src="http://www.payscale.com/research/US/Degree=Bachelor_of_Science_(BS_%252f_BSc)%252c_Mathematics/Hourly_Rate/by_Years_Experience/300s.png"
                    alt="Median Hourly Rate by Years Experience" border="0" style="margin-top:10px;"/>
        </div>

    {% endif %}



    <p>Go Back <a href="{% url 'index' %}">Home</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <p><a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>