<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
  <h1>{{request.user.username}} Filter</h1>
    <div class="container">
      <div class="row">
          <h3>Check off boxes for classes you have taken for {{ major }} or times you are not available.</h3>
        <form action="{% url 'modify_grad_plan' %}" method="post">
            {{ class_form.as_p }}
            {{ time_form.as_p }}
{#            {{ result }}#}
            <input type="submit" value="Save" class="btn-save">
        </form>
      </div>
    </div>
  </body>
</html>