{% load static %}
 <!DOCTYPE html>
    <html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no"> 
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        <title>Graduation Plan List</title> 
		
		<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">


<script>

<script>





$(document).ready(function(){
  // Add scrollspy to <body>
  $('body').scrollspy({target: ".nav", offset: 60});   

  // Add smooth scrolling on all links inside the navbar
  $("#myScrollspy a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }  // End if
  });
});

//Slide in code

$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 700) {
      $(this).addClass("slide");
    }
  });
});





</script>

</script>
	  
<link rel="stylesheet" href= "{% static 'css/base.css' %}">
	   	   
	   
	  	</head> 
		
		
<body data-spy="scroll" data-target="#myScrollspy" data-offset="60">

<div class="container-fluid" id="GraduationPlan">
  <h1 class="text-center">Graduation Plan </h1>
  <h3 class="text-center">Your Roadmap for the coming years</h3>
  <h4 class="text-center">Here are your classes!</h4>
  
</div>

<Section id="Classes">
	
	<div class="container-fluid">
  <div class="row">
    <nav class="col-lg-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <li class="active"><a href="#section1">2017</a></li>
        <li><a href="#section2">2018</a></li>
        <li><a href="#section3">2019</a></li>
        <li><a href="#section4">2020</a></li>
      </ul>
	 
    </nav>
    <div class="col-md-6" id="SemesterView">
	<h1 class="text-center">Classes by Semester</h1>
	<div class="row" id="Year1">
	<div class="col-md-6">
      <div id="section1" >
	  
        <h2>Spring 2017</h2>
		{% for c in year1.1.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
	  </div>
	  <div class="col-md-6">
      <div id="section2">
        <h2>Fall 2017</h2>
        {% for c in year1.0.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
      </div>
       </div>
       <div class="row" id="Year2">
       <div class="col-md-6">
      <div id="section3">
        <h2>Spring 2018</h2>
        {% for c in year2.1.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
	  </div>
	  <div class="col-md-6">
      <div id="section4">
        <h2>Fall 2018</h2>
        {% for c in year2.0.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row"  id="Year3">
       <div class="col-md-6">
      <div id="section3">
        <h2>Spring 2019</h2>
        {% for c in year3.1.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
	  </div>
	  <div class="col-md-6">
      <div id="section4">
        <h2>Fall 2019</h2>
        {% for c in year3.0.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row" id="Year4">
       <div class="col-md-6">
      <div id="section3">
        <h2>Spring 2020</h2>
        {% for c in year4.1.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
	  </div>
	  <div class="col-md-6">
      <div id="section4">
        <h2>Fall 2020</h2>
        {% for c in year4.0.classes %}
        <div id="class{{ forloop.counter }}"><h2>{{ c.name }}</h2></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
	</Section>







</body>

</html>		
		
		
		
		
		
		
		
		