{% load static %}
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Graduation Plan List</title>

		<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Google Font-->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">


<script>

<script>









</script>



<link rel="stylesheet" href= "{% static 'css/base.css' %}">


	  	</head>


<body data-spy="scroll" data-target="#myScrollspy" data-offset="60">

<div class="container-fluid" id="GraduationPlan">
  <h1 class="text-center">Graduation Plan </h1>
  <h3 class="text-center">Your {{ major }} Roadmap for the coming years</h3>
  <h4 class="text-center">Here are your classes!</h4>

</div>

<Section id="Classes">

	<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 col-md-offset-3" id="SemesterView">
	<h1 class="text-center">Classes by Semester</h1>
    <h2 class="text-center"><a href={% url 'modify_grad_plan' %}>Taken some of these already? Click to Remove Them</a></h2>
    <h1>{{ progress }}</h1>
    <h1>First Semester</h1>
            {% for sem in detail_sem.classes %}
            <div>

                <h3>{{ sem.dept }} {{ sem.number }}</h3>
             <button type="button"  class="btn btn-default" data-target="#{{ sem.dept }}{{ sem.number }}Prof" data-toggle="collapse"> {{ sem.dept }} {{ sem.number }} Prof</button>
                <div id="{{ sem.dept }}{{ sem.number }}Prof" class="collapse">
                <div id="table-container">
                    <table class="classes" id="{{ sem.dept }} {{ sem.number }}">
                        <tbody>
                        <tr>
                            <th>Class Number</th>
                            <th>Location</th>
                            <th>Day</th>
                            <th>Time</th>
                        </tr>
                        <tr></tr>
                        {% for class_details in sem.details.details %}
                            <tr>
                                <td>{{ class_details.class_number }}</td>
                            {% for meetings in class_details.meetings %}
                                <td>{{ meetings.location }}</td>
                                <td>{{ meetings.days }}</td>
                                <td>{{ meetings.start_time }}-{{ meetings.end_time }}</td>
                            {% endfor %}
                            </tr>
                            <tr></tr>
                            <table>
                            <tbody>
                            <tr>
                            {% for instructor in class_details.instructors %}
                                <th>Instructors: <a href="/ratings/{{ instructor.last_name }}/{{ instructor.first_name }}/{{ sem.dept }}{{ sem.number }}">{{ instructor.first_name }} {{ instructor.last_name }}</a> Email:{{ instructor.instructor }}</td>
                            {% endfor %}
                            </tr>
                            <tr></tr>
                            <tr>
                                <th>Class Title: {{ class_details.title }}</td>
                            </tr>
                            <tr></tr>
                               <button type="button">Description</button>
                            <tr>

                                <th>Class Description: {{ class_details.description }}</td>
                            </tr>
                        </table>
                        </tbody>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        {% endfor %}
    <h1>Remaining Semesters</>
                {% for sem in remaining_sem %}
            {#sem is a list of the classes#}
            <h2>Separating Semesters: Semester {{ forloop.counter }}</h2>
            {% for class in sem %}
                <h3>{{ class.dept }} {{ class.number }}</h3>
            {% endfor %}
        {% endfor %}

	</Section>

</body>

</html>
		
		
		
		
		
		
		
		