
html, body 
{ overflow-x: hidden; }

body
{
position:relative;
font-family: 'Fjalla One', sans-serif;
    background-color: #d22030;
}
#Max-Width
{
width:100%;
}



.red
{
 background-color: #d22030;
}

.profileForm
{
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
}

.profileForm h1
{
    color:#d22030;
}

.profileForm h2
{
    color:#d22030;
}

#nav-options {
  margin: 0.5em;
  color:black;
}

#nav-options button.thumbnail {
  margin: 0;
  padding: 0;
}

.year
{

    height:400px;
    width:100%;
}

#nav-options img {
  max-height: 2.3em;
  border-radius: 0.3em;
}

input
{
    background-color: #d22030;
    border-style:solid;
    border-radius:5px;

}
button
{
    background-color: white;
}
select
{
    background-color: white;
    color:#d22030;
}

#shadow
{

text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

div#Title-div h1,
div#Title-div h2 {
  color: #FFF;
}

div#Title-div h2 {
  font-size: 1.5rem;
}

div#Title-div hr {
  width: 10%;
}








div#Cover-div
{
filter:opacity(100%);
height:100vh;
padding:5px;
}

.CoverDiv
{
color:#235F3F;

}

div#Classes-Div
{
height:200px;
background-color:#D22030;
width:100%;
}

div#Soon
{
height:500px;
background-color:#D22030;

}

div#Class
{
height:200px;
background-color:white;
border-style:solid;
border-color:black;

}
li
{
    color:white;
}
div h2
{
    color:white;
}


div#Class h2
{

color:black;
}
div#Title-div
{

background-size:cover;


height:800px;
	

}

div#titles
{

background-color:#D22030;

}

section#Home
{
background-size:cover;
background-image:url(../img/Library.jpg);

}

div#Title-div h1,div#Title-div h2
{
font-family: 'Fjalla One', sans-serif;

}
div#Title-div h2 {
  font-size: 1.5rem;
}

div#Title-div hr {
  width: 10%;
}

label
{
font-family: 'Fjalla One', sans-serif;
}

.modal
{
top:100px;
}

.modal-header
{
background-color:#d22030;

}
.modal-title
{
color:white;
}
.modal-footer
{
background-color:#d22030;
height:50px;
}
nav form#search {
  float: right;
  padding: 0.5em;
}

nav form#search .glyphicon-search {
    z-index: 99;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}

nav form#search .input-group .form-control {
    border-radius: 0.25em;
}


div#center
{

position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	
}
div#center-button
{

text-align:center;
}




h2
{
text-indent:50px;

}



h1,h2,h3,a,p,h4,h5
{
font-family: 'Fjalla One', sans-serif;
color:white;

}




.navbar {
font-family: 'Fjalla One', sans-serif;
}

.btn
{
font-family: 'Fjalla One', sans-serif;
font-size:20px;
padding-left:10px;
padding-right:10px;
}
button{
margin:5px;
}
.navbar {

    margin-bottom: 0;
    background-color:#D22030;
    z-index: 9999;
    border: 0;
	font-weight:bold;
    font-size:15px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}
.icon-bar
{
  background:black !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background:white !important; /*Whatever colour you want for background */
}

.navbar li a, .navbar .navbar-brand {
    color:white !important;
}


.navbar-nav li a:hover, .navbar-nav li.active a {
    color:#D22030 !important;
    background-color:white !important;
}


.navbar-nav >li.active>a
{
background-color:white !important;
color:black;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color:black !important;
}


 .navbar-nav > li > a,
 .navbar-nav > li > a:hover {
  color: #FFF;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.navbar-nav>li.active>a
{
background-color:red;
color:white;

}

.

section#login
{

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}











.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.affix {
      top: 20px;
  }
  
  
  #section1 {
  color:black; 
  background-color:#d22030;
  margin-top:100px;
  margin-right:50px;
  border-style:solid;
  border-color:black;
  
  }
  #section2 {
  color:black; 
  background-color:#d22030;
  margin-top:100px;
  margin-right:50px;
  border-style:solid;
  border-color:black;
  }
  #section3 {
  color:black;
  background-color:white;
  background-color:#d22030;
  margin-top:100px;
  margin-right:50px;
  border-style:solid;
  border-color:black;
  }
  #section4 {
  color:black;
  background-color:white;
  background-color:#d22030;
  margin-top:100px;
  margin-right:50px;
  border-style:solid;
  border-color:black;
  }
 
  
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4  {
        
    }
  }

.nav
{
background-color:#d22030;

}




section#Classes
{
background-color:#d22030;
width:100%;
height:2500px;

}

div#section1 h1,div#section2 h1,div#section3 h1,div#section4 h1
{

color:black;



}

.sectiontitle
{
background-color:#d22030;
}

div#GraduationPlan
{
background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;

}

div#modify
{
    background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}

div#modify h1,h2
{
    color:#d22030;
}


div#suggestMajor
{
    background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}

div#suggestMajor h1
{
    color:#d22030;
}

div#suggestMajor h2
{
    color:#d22030;
}


div#chooseMajor
{
    background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}
div#chooseMajor h1,h2
{
    color:#d22030;
}

div#jobInformation
{
     background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}

div#jobInformation h1
{
    color:#d22030;
}
div#jobInformation h2
{
    color:#d22030;
}
.btn-default
{
    color:#d22030;
}

ul.navbar
{
    list-style-type:none;
    margin:0;
    padding:0;
}

li.navbar
{
    float:left;
}

a.navbar{

    display:block;
    padding:8px;
    background-color:#d22030;
}

h4.navbar a.navbar
{
    text-decoration: none;
}
li.navbar a.navbar
{

    display:block;
    text-decoration: none;

}

li.navbar a.navbar:hover
{
    background-color: white;
    color:#d22030;
     text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
div#GraduationPlan h1,h3,h4
{
color:#d22030;
}

.nav-pills>li>a
{
text-size:20px;
}

 .nav-pills > li.active > a:hover {
            background-color:black;
            color:white;
        }
		
.nav-pills >li.active>a
{
background-color:black;
color:white;
}		
		
.nav-pills >li > a:hover
{

background-color:white;
            color:#d22030;
}

.active a
{
color:white;
background-color:black;

}

div#class1,div#class2,div#class3,div#class4
{
border-style:solid;
color:black;
background-color:white;
}

div#class1 h2,div#class2 h2,div#class3 h2,div#class4 h2
{
color:black;
font-family: 'Fjalla One', sans-serif;
}

.bar-red
{
  background-color: #d22030;
}

.button-red
{
     background-color: #d22030;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.row
{
    padding-bottom: 20px;
    padding-top:20px;
}

.button-red:hover {
    background-color:white; /* Green */
    color: #d22030;
}



@keyframes myChange {
  from {
      height: 100px;
  } to {
      height:0px;
  }
}

div#professor {
  height: 100px;
  background-color:black;
}

div.ng-hide {
  animation: 0.5s myChange;

}

label
{
    color:white;
}

div#loggedOut
{
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
}

div#loggedOut h1
{
    color:#d22030;
}
div#gradLogin

{
background-color:white;
 padding-top:20px;
 padding-bottom:20px;
}

div#gradLogin h1
{
    color:#d22030;
}

div#registration
{
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
}

div#registration h1
{
    color: #d22030;
}

div#registration p
{
    color:#d22030;
}

.white
{
    background-color: white;
    color:#d22030;
}

input#id_username,input#id_email,input#id_password1,input#id_password2
{
    background-color:white;
    color:#d22030;
}



.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

input.btn-save
{
    background-color: white;
    color:#d22030;
}

ul#custom
{
    list-sytle-type:none;
    margin:0;
    padding:0;
    background-color:#d22030;
}

li#custom
{
    display:inline;
    float:left;
}

li#custom a
{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li#custom a:hover
{
    background-color:white;
    color:#d22030;
}

input
{
    background-color: white;
    color: #d22030;
}


div#chooseMajors
{
    height:200px;
    background-color: white;
    padding-top: 20px;
    padding-bottom:20px;
}

div#chooseMajors h1
{
   color:#d22030;
}

h3
{
    color:black;
}

img#gold
{
    visibility: hidden;
}

textarea#id_rating
{
    color:#d22030;
}